.projects {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  background-color: var(--color-pink);
  border-bottom: 1px solid var(--color-base);
  border-top: 1px solid var(--color-base);
}

.title {
  color: var(--color-orange) !important;
}

@media (min-width: 768px) {
  .containerSection {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .cardWrapper {
    display: flex;
  }
}
